body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #002729;
    color: white;
    text-align: left;
    padding: 50px;
    width:100vw
}

#title {
    text-align:center;
}

#idkuDummy {
    text-align:center;
}

#idku {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
}

#prompt1{

}

#textBox1 {
    width: 100%;
    height: 20px;
    font-size: 16px;
    padding: 5px;
    display:block;
}

#Apply1Dummy {

}

#Apply1 {
    float: right;
}