.vs/
Anemo_TileWizard/Anemo_TileWizard.Windows/Anemo_TileWizard.Windows.jsproj.user
Anemo_TileWizard/Anemo_TileWizard.Windows/bin/
Anemo_TileWizard/Anemo_TileWizard.Windows/bld/
Anemo_TileWizard/Anemo_TileWizard.Windows/AppPackages/
Anemo_TileWizard/Anemo_TileWizard.WindowsPhone/Anemo_TileWizard.WindowsPhone.jsproj.user
Anemo_TileWizard/Anemo_TileWizard.WindowsPhone/bin/
Anemo_TileWizard/Anemo_TileWizard.WindowsPhone/bld/
.vs/Anemo_TileWizard/v14/.suo