Anemo_TileWizard/Anemo_TileWizard.Windows/Anemo_TileWizard.Windows.jsproj.user
Anemo_TileWizard/Anemo_TileWizard.Windows/Anemo_TileWizard.Windows.jsproj.user
Anemo_TileWizard/Anemo_TileWizard.Windows/Anemo_TileWizard.Windows.jsproj.user
Anemo_TileWizard/Anemo_TileWizard.Windows/bin/Release/Anemo_TileWizard.Windows.build.appxrecipe
Anemo_TileWizard/Anemo_TileWizard.Windows/bin/Release/Anemo_TileWizard.Windows.build.appxrecipe
Anemo_TileWizard/Anemo_TileWizard.Windows/bin/x64/Release/Anemo_TileWizard.Windows.build.appxrecipe
Anemo_TileWizard/Anemo_TileWizard.Windows/bin/x64/Release/AppX/AppxManifest.xml
Anemo_TileWizard/Anemo_TileWizard.Windows/bin/x64/Release/AppX/vs.appxrecipe
Anemo_TileWizard/Anemo_TileWizard.Windows/bin/x64/Release/AppxManifest.xml
Anemo_TileWizard/Anemo_TileWizard.Windows/bld/Release/_pkginfo.txt
Anemo_TileWizard/Anemo_TileWizard.Windows/bld/Release/package.map.txt
Anemo_TileWizard/Anemo_TileWizard.Windows/bld/Release/ProjectArchitectures.txt
Anemo_TileWizard/Anemo_TileWizard.Windows/bld/x64/Release/Anemo_TileWizard.Windows.jsproj.FileListAbsolute.txt
Anemo_TileWizard/Anemo_TileWizard.Windows/bld/x64/Release/ProjectArchitectures.txt
Anemo_TileWizard/Anemo_TileWizard.Windows/package.appxmanifest
Anemo_TileWizard/Anemo_TileWizard.WindowsPhone/Anemo_TileWizard.WindowsPhone.jsproj.user
Anemo_TileWizard/Anemo_TileWizard.WindowsPhone/bin/Release/Anemo_TileWizard.WindowsPhone.build.appxrecipe
Anemo_TileWizard/Anemo_TileWizard.WindowsPhone/bin/Release/AppxManifest.xml
Anemo_TileWizard/Anemo_TileWizard.WindowsPhone/bld/Release/_pkginfo.txt
Anemo_TileWizard/Anemo_TileWizard.WindowsPhone/bld/Release/ProjectArchitectures.txt
Anemo_TileWizard/Anemo_TileWizard.WindowsPhone/package.appxmanifest
