body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #2D2D30;
    color: white;
    text-align: center;
    padding: 50px;
}

#idku {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
}